/*Global*/
:root {
	--mainButtonColor: #1e90ff;
	--mainBackgroundColor: #20252e;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Gill Sans', sans-serif;
}

html,
body {
	height: 100%;
	scrollbar-width: none;
}

body {
	font-family: 'Gill Sans', sans-serif;
	background-color: var(--mainBackgroundColor);
	color: #ffffff;
	font-weight: 300;
	-ms-overflow-style: none;
	/* for Internet Explorer, Edge */
	scrollbar-width: none;
	/* for Firefox */
	overflow-y: scroll;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar {
	display: none;
	/* for Chrome, Safari, and Opera */
}

ul {
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
	background-color: var(--mainButtonColor);
	color: #ffffff;
	border-radius: 20px;
	padding: 4px 10px;

}

button:hover {
	color: #1ea0fa;
}

a {
	text-decoration: none;
	color: #8D37D4;
	font-weight: bold;
}

a:hover {
	color: #1D80EC;
}

input {
	outline: none;
}

input:focus {
	outline: none;
}

.container {
	max-width: 100%;
	margin: 0 auto;
}

.hr {
	border-bottom: 1px solid gray;
}

/*MP*/
/*MP left and right*/
#MP {
	height: 92%;
}

#MP .container {
	height: 100%;
	display: flex;

}

#MP .container .MPItem {
	display: flex;
}

/*MP left*/
#MP .container .MPItem:nth-of-type(1) {
	flex: 1 1 40%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/*MP right*/
#MP .container .MPItem:nth-of-type(2) {
	flex: 1 1 60%;
	align-items: center;
	text-align: center;
	justify-content: center;
	overflow: hidden;
}

#MP .container #trendPost img {
	height: 100%;
}

#MP .container #trendPost {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 90;
}

#MP .container #trendPost p {
	font-size: 110px;
	color: #000000;
	position: absolute;
}

/*MP left subitems*/
#MP .container .MPItem .MPSubItem {
	margin: 10px auto;
	width: 380px;
}

#MP .container .MPItem .MPSubItem button {
	width: 380px;
	font-size: 18px;
	padding: 10px 30px;
}

#MP .container .MPItem .MPSubItem button:hover {
	width: 378;
	padding: 8px 30px;
	border: 2px solid var(--mainButtonColor);
	background-color: transparent;

}

#MP .container .MPItem .MPSubItem p {
	font-size: 12px;
	text-align: center;
	width: 380px;

}


/*Dash Page*/
#dashNav {
	position: fixed;
	border: 1px solid blue;
}

#dashNav .container {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	border: 1px solid yellow;
}

#dashNav .container .DNItem {
	width: 240px;
	border-bottom: 1px solid blue;

}

#dashNav .container .DNItem button {
	padding: 2px;
	padding-left: 10px;
	margin: 0px;
	width: 100%;
	border-radius: 0px;
	text-align: left;

}

#dashNav .container #DNItems {
	display: none;
}

#dashBody {
	height: 92%;
	width: 100%;
}

#dashBody .container {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#dashBody .container .DBItem {
	width: 200px;
}

#dashBody .container .DBItem:nth-of-type(1) {
	flex: 2 6 0px;
}

#dashBody .container .DBItem:nth-of-type(2) {
	flex: 8 1 200px;
}

#dashBody .container .DBItem:nth-of-type(3) {
	flex: 1 1 200px;
}

#dashBody .container .DBItem:nth-of-type(4) {
	flex: 2 6 0px;
}

@media(max-width: 1040px) {
	#dashBody .container .DBItem:nth-of-type(1) {
		display: none;
	}

	#dashBody .container .DBItem:nth-of-type(4) {
		display: none;
	}
}

/*posts*/
#postSection {
	height: 100%;
}

#postSection a {
	color: gray;
	font-size: 20px;
	font-weight: normal;
}

#postSection a:hover {
	color: gray;
	font-size: 20px;
	font-weight: normal;
}

#postSection .container .postItem:hover .postTitle {
	text-decoration: underline;
}

#postSection .container {
	display: flex;
	height: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-top: 4px;
	overflow: auto;
}

#postSection .container .postItem {
	height: 30%;
	min-height: 180px;
	width: 32.6%;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	margin-top: 6px;
}

#postSection .container .postItem .postTitle {
	font-size: 20px;
	position: absolute;
	top: 3%;
	left: 3%;
	text-shadow: 0px 0px 5px black;
}

#postSection .container .postItem .postImg {
	height: 100%;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*suggested followers section*/
#suggestSection {
	height: 100%;
}

#suggestSection #suggestSectionTitle {
	margin-top: 8px;
}

#suggestSection .container {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

#suggestSection .container .suggestItem {
	overflow: hidden;
	width: 100%;
	height: 10%;
	padding-bottom: 16px;
	border-bottom: 1px solid gray;
	margin-top: 8px;
	margin-bottom: 6px;

}

#suggestSection .container .suggestItem a .suggestSubItem:nth-of-type(1) {
	align-self: center;
}

#suggestSection .container .suggestItem a .suggestSubItem:nth-of-type(2) {
	margin-top: 5px;
	margin-right: 15px;
	margin-left: 10px;
}

#suggestSection .container .suggestItem a .suggestSubItem:nth-of-type(3) {
	align-self: center;
}

#suggestSection .container .suggestItem a {
	display: flex;
	justify-content: center;
	height: 100%;
	border: 2px solid gray;
	padding: 10px;
	border-radius: 12px;
}

#suggestSection .container .suggestItem .suggestImg {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}


/*about page*/
#aboutPage {
	height: 92%;
	width: 100%;
	position: relative;
}

#aboutPage .contactInfo {
	position: absolute;
	top: 20px;
	left: 14px;
}

#aboutPage .container {
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#aboutPage .container .APItem .APTitle {
	font-size: 18px;
	border-bottom: 1px solid white;
	margin-bottom: 6px;
	padding-bottom: 6px;
}

#aboutPage .container .APItem .APBody {
	font-size: 36px;
}

/*FAQ page*/
#faqPage {
	height: 92%;
	width: 100%;
}

#faqPage .container {
	padding-top: 50px;
	height: 100%;
	width: 56%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#faqPage .container .faqItem {
	width: 100%;
	margin-top: 40px;
}

#faqPage .container .faqItem li {
	margin-top: 30px;
}

#faqPage .container .faqItem #faqTitle {
	font-size: 34px;
	font-weight: bold;
}

#faqPage .container .faqItem .faqQuestion {
	font-size: 22px;
}

/*contact page*/
#contactPage {
	height: 92%;
	width: 100%;
}

#contactPage #contactTitle {
	font-size: 30px;
	margin-top: 40px;
}

#contactPage .container {
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#contactPage .container .CPItem {
	margin-top: 40px;
}

#contactPage .container .CPItem:nth-of-type(1) {
	width: 100%;
}

#contactPage .container .CPItem:nth-of-type(2) {
	width: 100%;
}

#contactPage .container .CPItem input {
	width: 100%;
}

#contactPage .container .CPItem textarea {
	width: 100%;
}

/*sendEmail page*/
#sendEmail {
	height: 92%;
	width: 100%;
}

#sendEmail .container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



/*Modals*/
/*login modal*/
#loginModal {
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, .2);
	visibility: hidden;
	position: fixed;

}

#loginModal .container {
	background-color: #393939;
	color: #000000;
	width: 420px;
	height: 370px;
	padding: 18px;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
}

#loginModal .container .LMItem {
	margin-bottom: 16px;
}

#loginModal .container .LMItem:nth-of-type(1) {
	align-self: end;
}

#loginModal .container .LMItem:nth-of-type(2) {
	align-self: center;
}

#loginModal .container .LMItem:nth-of-type(3) {
	align-self: center;
}

#loginModal .container .LMItem:nth-of-type(5) {
	align-self: center;
}

#loginModal .container button {
	padding: 2px;
	margin-right: 2px;
	background: none;
	color: #ffffff;
}

#loginModal .container button:hover {
	color: #1ea0fa;
}

#loginModal .container #LMButton {
	background-color: var(--mainButtonColor);
	width: 320px;
	padding: 6px 0px;
	border-radius: 8px;
	font-weight: bold;
}

#loginModal .container #LMButton:hover {
	width: 318;
	padding: 2px 18px;
	border: 2px solid var(--mainButtonColor);
	background-color: transparent;
	color: #1ea0fa;

}

#loginModal .container a {
	font-size: 15px;
	margin-left: 33px;
	text-decoration: underline;
}

#loginModal .container form input {
	background: transparent;
	color: #ffffff;
	width: 320px;
	padding: 6px 20px;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 16px;
	font-size: 17px;
}

#loginModal .container form input:focus {
	border: 1px solid cyan;
}





/*sign up modal*/
/*Modals*/
#signUpModal {
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, .2);
	visibility: hidden;
	position: fixed;

}

#signUpModal .container {
	background-color: #393939;
	color: #000000;
	width: 420px;
	height: 470px;
	padding: 18px;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
}

#signUpModal .container .SUMItem {
	margin-bottom: 16px;
}

#signUpModal .container .SUMItem:nth-of-type(1) {
	align-self: end;
}

#signUpModal .container .SUMItem:nth-of-type(2) {
	align-self: center;
}

#signUpModal .container .SUMItem:nth-of-type(3) {
	align-self: center;
}

#signUpModal .container .SUMItem:nth-of-type(5) {
	align-self: center;
}

#signUpModal .container button {
	padding: 2px;
	margin-right: 2px;
	background: none;
	color: #ffffff;
}

#signUpModal .container button:hover {
	color: #1ea0fa;
}

#signUpModal .container #SUMButton {
	background-color: var(--mainButtonColor);
	width: 320px;
	padding: 6px 0px;
	border-radius: 8px;
	font-weight: bold;
}

#signUpModal .container #SUMButton:hover {
	width: 318;
	padding: 2px 18px;
	border: 2px solid var(--mainButtonColor);
	background-color: transparent;
	color: #1ea0fa;

}

#signUpModal .container a {
	font-size: 15px;
	margin-left: 33px;
	text-decoration: underline;
}

#signUpModal .container form input {
	background: transparent;
	color: #ffffff;
	width: 320px;
	padding: 6px 20px;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 16px;
	font-size: 17px;
}

#signUpModal .container form input:focus {
	border: 1px solid cyan;
}



#signUpModal .container .SUMItem #PRSection {
	font-size: 15px;
	display: none;
	color: red;
}







/*Footer*/
#mainFooter {
	border-top: 1px solid gray;
	height: 8%;
	width: 100%;
	position: fixed;
	bottom: 0;
}

#mainFooter .container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #20252e;
}

#mainFooter .container .footerItem {
	margin-left: 38px;
	font-size: 16px;
}

@media(max-height: 200px) {
	#mainFooter {
		position: relative;
	}

	#mainFooter .container {
		position: absolute;
		bottom: 0px;
		background-color: #20252e;
		padding: 20px 0px 20px 60px;
		border-top: 1px solid gray;
		width: 100%;
	}
}

/*Logo*/
.logo {
	height: 60px;
	border-radius: 8px;
}




/*miscellaneous*/
#matchPass {
	display: none;
}